BODY {
	FONT-SIZE: 7.5pt; FONT-FAMILY: Verdana, Arial, Geneva, Sans-Serif
}
TD {
	FONT-SIZE: 7.5pt; FONT-FAMILY: Verdana, Arial, Geneva, Sans-Serif
}
A.bodylinkbig:link {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #663399; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Sans-Serif; TEXT-DECORATION: underline
}
A.bodylinkbig:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #999933; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Sans-Serif; TEXT-DECORATION: underline
}
A.bodylinkbig:active {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #999933; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Sans-Serif; TEXT-DECORATION: underline
}
A.bodylinknormal:link {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #663399; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Sans-Serif; TEXT-DECORATION: underline
}
A.bodylinknormal:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #999933; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Sans-Serif; TEXT-DECORATION: underline
}
A.bodylinknormal:active {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #999933; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Sans-Serif; TEXT-DECORATION: underline
}
LI.list {
	LIST-STYLE-POSITION: inside; COLOR: #660099
}
.btnmouseover {
	FONT-SIZE: 8pt; COLOR: #0033cc; FONT-FAMILY: Verdana, Arial, geneva, sans-serif; BACKGROUND-COLOR: #e6e7ef
}
.btnnormal {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana, Arial, geneva, sans-serif; BACKGROUND-COLOR: silver
}
.btnnormalradio {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana, Arial, geneva, sans-serif
}
.buttonhover {
	BORDER-RIGHT: #9999cc 1px ridge; PADDING-RIGHT: 2px; BORDER-TOP: #9999cc 1px ridge; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; BORDER-LEFT: #9999cc 1px ridge; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #9999cc 3px groove; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; HEIGHT: 24px; BACKGROUND-COLOR: #ff9933; TEXT-DECORATION: none
}
.buttonnormal {
	BORDER-RIGHT: #9999cc 1px ridge; PADDING-RIGHT: 2px; BORDER-TOP: #9999cc 1px ridge; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; BORDER-LEFT: #9999cc 1px ridge; CURSOR: hand; COLOR: #ff6600; PADDING-TOP: 2px; BORDER-BOTTOM: #9999cc 3px groove; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; HEIGHT: 24px; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.buttonoff {
	BORDER-RIGHT: #9999cc 1px ridge; PADDING-RIGHT: 2px; BORDER-TOP: #9999cc 1px ridge; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; BORDER-LEFT: #9999cc 1px ridge; CURSOR: hand; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #9999cc 3px groove; FONT-FAMILY: verdana,tahoma,geneva,arial,helvetica,sans-serif; HEIGHT: 24px; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.buttonon {
	BORDER-RIGHT: #9999cc 1px ridge; PADDING-RIGHT: 2px; BORDER-TOP: #9999cc 1px ridge; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; BORDER-LEFT: #9999cc 1px ridge; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #9999cc 3px groove; FONT-FAMILY: verdana,tahoma,geneva,arial,helvetica,sans-serif; HEIGHT: 24px; BACKGROUND-COLOR: #666666; TEXT-DECORATION: none
}
.colonperiod {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ff9900; FONT-STYLE: normal; FONT-FAMILY: verdana, sans-serif
}
.congratslarge {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #25408f; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.congratsnormal {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #25408f; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.congratssmall {
	FONT-SIZE: 7.5pt; COLOR: #25408f; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.contactlinks {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #663399; FONT-STYLE: normal; FONT-FAMILY: verdana, sans-serif
}
.colorapplybg {
	COLOR: #660099
}
.employerblue {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.employerbluesmall {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.h3purple {
	FONT-SIZE: 10pt; COLOR: #660099; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, geneva, san-serif
}
.jobtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #663399; FONT-STYLE: normal; FONT-FAMILY: verdana, sans-serif
}
.normalwhite {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.purple {
	FONT-SIZE: 8pt; COLOR: #660099; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.purplebold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #660099; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.purpleit {
	FONT-SIZE: 8pt; COLOR: #660099; FONT-STYLE: italic; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.purplelarge {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #660099; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.purplesmall {
	FONT-SIZE: 7pt; COLOR: #660099; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.reqd {
	COLOR: #cc0000
}
.reqdbold {
	FONT-WEIGHT: bold; COLOR: #cc0000
}
.resumebold {
	FONT-WEIGHT: bolder; FONT-SIZE: 16px; FONT-FAMILY: Verdana, Arial, Gevana, Sans-Serif
}
.resumesectionheading {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; TEXT-TRANSFORM: uppercase; FONT-FAMILY: Verdana, Arial, gevana, sans-serif
}
.resumetext {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Gevana, Sans-Serif
}
.small {
	FONT-SIZE: 7.5pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.smallbold {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.smallboldtext {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana,arial,geneva,sans-serif
}
.smalltext {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana,arial,geneva,sans-serif
}
.tddisabled {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #cccccc; FONT-FAMILY: verdana, Arial, geneva, san-serif
}
.tddisabledpurple {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #cc99cc; FONT-FAMILY: Verdana, Arial, geneva, san-serif
}
.tdfootnote {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, geneva, san-serif
}
.tblsmallbold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, geneve, sans-serif
}
.tdlink {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana,arial,geneva,sans-serif
}
.tdlinkBold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana,arial,geneva,sans-serif
}
.tdlinkpurple {
	FONT-SIZE: 8pt; COLOR: #660099; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, geneva, sans-serif
}
.tdnavhead {
	FONT-SIZE: 7.5pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana,arial,geneva,sans-serif
}
.tdnormal {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana,arial,geneva,sans-serif
}
.teal {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #25408f; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.textboxlabel {
	FONT-WEIGHT: normal; FONT-SIZE: small; COLOR: black; FONT-STYLE: normal
}
.titlehead {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #663399; FONT-FAMILY: Verdana, Arial, Gevana, Sans-Serif
}
.white {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal
}
.tblResActive {
	BACKGROUND-COLOR: #fbf3fd
}
.tblResNotActive {
	BACKGROUND-COLOR: #efefef
}
.tblNewNotActive {
	BACKGROUND-COLOR: #ffffff
}
.tblStandard1 {
	BACKGROUND-COLOR: #ffffcc
}
.tblStandard2 {
	BACKGROUND-COLOR: #663399
}
.tblStandard3 {
	BACKGROUND-COLOR: #666699
}
.tblStandard4 {
	BACKGROUND-COLOR: #eeeeee
}
.tblStandard5 {
	BACKGROUND-COLOR: #eae4f0
}
.tblStandard6 {
	BACKGROUND-COLOR: #e0e0e0
}
.symrequiredfield {
	COLOR: #cc0000
}
.txterror {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Geneva, Sans-Serif
}
.txterrorsmall {
	FONT-WEIGHT: normal; FONT-SIZE: 7.5pt; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Geneva, Sans-Serif
}
.txtXsmall {
	FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Geneva, Sans-Serif
}
.txtXsmallBold {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Geneva, Sans-Serif
}
.txtSmallred {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Verdana, Arial, Geneva, Sans-Serif
}
A.txtLinkbig:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #663399; FONT-FAMILY: Verdana, Arial, Geneva, Sans-Serif; TEXT-DECORATION: underline
}
.txtLinkdisabled {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Geneva, Sans-Serif
}
.txtpgtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: Verdana, Arial, Geneva, Sans-Serif
}
.txtsmallnormal {
	FONT-WEIGHT: normal; FONT-SIZE: 7.5pt; COLOR: black; FONT-FAMILY: Verdana, Arial, Geneva, Sans-Serif
}
.txtsmallbold {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; FONT-FAMILY: Verdana, Arial, Geneva, Sans-Serif
}
.txtbig {
	FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Geneva, Sans-Serif
}
.txtbigbold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Geneva, Sans-Serif
}
.txtnormal {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Geneva, Sans-Serif
}
.txtnormalbold {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Geneva, Sans-Serif
}
.txtmedium {
	FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.txtmediumbold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.txtLarge {
	FONT-SIZE: 11pt; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.txtLargeBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.txtHugeBold {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.StylizedTable {
	BACKGROUND-COLOR: #fefefe
}
.SmallReqd {
	FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Verdana, Arial, geneva, san-serif
}
.SmallReqdBold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Verdana, Arial, geneva, san-serif
}
.Bold {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; FONT-FAMILY: verdana, geneva, arial, san-serif
}
.BoldSmall {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; FONT-FAMILY: verdana, geneva, arial, san-serif
}
.BoldSmallPurple {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; COLOR: #63309c; FONT-FAMILY: Verdana, geneva, Arial, san-serif
}
.BoldSmallBlack {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; COLOR: #000000; FONT-FAMILY: verdana, geneva, arial, san-serif
}
.indent2 {
	PADDING-LEFT: 0px; MARGIN-LEFT: 2em
}
.frmReqd {
	COLOR: red
}
.sectionHeading {
	FONT-SIZE: x-small; FONT-FAMILY: verdana,tahoma,geneva,arial,helvetica,sans serif; BACKGROUND-COLOR: #000000
}
.boldText {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: verdana,tahoma,geneva,arial,helvetica,sans serif
}
.smallBoldText {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; FONT-FAMILY: verdana,tahoma,geneva,arial,helvetica,sans serif
}
.orange {
	FONT-SIZE: x-small; COLOR: #f09261; FONT-FAMILY: verdana,tahoma,geneva,arial,helvetica,sans serif
}
.whiteBold {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #ffffff; FONT-FAMILY: verdana,tahoma,geneva,arial,helvetica,sans serif
}
.boxBackground {
	BACKGROUND-COLOR: #eeeeee
}
.highlight {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.fatLink {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; COLOR: #0066cc; FONT-FAMILY: verdana,tahoma,geneva,arial,helvetica,sans serif
}
.xslNormText {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
.xslNormBoldText {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, geneva, sans-serif
}
